DB_URL=jdbc:postgresql://localhost:5432/operixsso
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=operixsso

KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/operix
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin